In [1]:
a=5
b=8
a*b

40

In [2]:
x=10
y=20

In [3]:
z=x
x=y
y=z

In [4]:
x
y

10

In [5]:
x

20

In [6]:
y

10

In [7]:
a=100
s1="200"
s2='300'
print(s1+s2)

200300

In [9]:
print(int(s1)+int(s2))

500

In [12]:
print ("수학 점수는  90 점 이다.")

수학 점수는  90 점 이다.

In [13]:
print ("life"+"is"+"too short")

lifeistoo short

In [14]:
print ("python" * 3)

pythonpythonpython

In [15]:
print ("I eat %d apples." % 3)

I eat 3 apples.

In [16]:
number = 10
day = "three"
print ("I ate %d apples, so I was sick for %s days. " % (number, day))

I ate 10 apples, so I was sick for three days.

In [17]:
print ("I eat %s apples." % 3)

I eat 3 apples.

In [23]:
price = int(input("상품의 가격 입력: "))
print("상품의 가격은 %d원 입니다." %price)

상품의 가격 입력: 10000
상품의 가격은 10000원 입니다.

In [24]:
>>> s = "python"
>>> len(s)

6

In [32]:
>>> s = 'Mission Impossible'
>>> s[10:13]
                              
>>> s1 = "red apple"
>>> s2 = "yellow banana"

>>> s3 = s1[0:3] + s2[6:]                              
>>> print (s3)

red banana

In [34]:
>>> s4 = s2[:6]+s1[3:]                                
>>> print (s4)

yellow apple

In [27]:
                              
>>> s1 = "red apple"
>>> s2 = "yellow banana"

In [35]:
7 % 3

1

In [36]:
>>> 7 // 3

>>> 2 ** 3

>>> 2 ** 4 + 5

>>> 3 * 5 ** 2

75

In [37]:
>>> 7 // 3

2

In [38]:
>>> 2 ** 3

8

In [39]:
>>> 2 ** 4 + 5

21

In [40]:
>>> 3 * 5 ** 2

75

In [41]:
>>> 5 / 2

2.5

In [42]:
a=int(input('화씨온도를 입력하시오:\n'))
b=(a-32)*5/9
print('섭씨온도는 %f 입니다' %b)

화씨온도를 입력하시오:
100
섭씨온도는 37.777778 입니다

In [43]:
a=int(input('투입한 돈:\n'))
b=int(input('물건값:\n'))
c=a-b
print('거스름돈 %d' %c)
d=c//500
e=c-(d*500)
f=e//100
print('500원짜리 %d' %d)
print('100원짜리 %d' %f)

투입한 돈:
5000
물건값:
2700
거스름돈 2300
500원짜리 4
100원짜리 3

In [99]:
r=int(input('반지름을 입력하시오:\n'))
long=2*3.141592*r
width=3.141592*r*r
print('원 둘레: %0.2f' %long)
print('원 넓이: %0.2f' %width)

반지름을 입력하시오:
5
원 둘레: 31.42
원 넓이: 78.54

In [54]:
>>> s = 'Python is fun!'

In [55]:
>>> s.upper()

'PYTHON IS FUN!'

In [56]:
>>> s.lower()

'python is fun!'

In [57]:
>>> s.swapcase()

'pYTHON IS FUN!'

In [58]:
>>> s.title()

'Python Is Fun!'

In [59]:
range(5)

range(0, 5)

In [60]:
range

range

>>> range(1, 6)

In [63]:
>>> range(1, 7, 2)

range(1, 7, 2)

In [64]:
range(1, 6)

range(1, 6)

In [65]:
list(range(5))

[0, 1, 2, 3, 4]

In [78]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [94]:
even_list = list(range(2,11,2))

In [95]:
odd_list = list(range(1,11,2))

In [96]:
even_list + odd_list

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

In [97]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [98]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [100]:
list(range(5))

[0, 1, 2, 3, 4]

In [101]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [102]:
list(range(1,7,2))

[1, 3, 5]