# 과제실습1 _2

## Q4.

In [5]:
sentence=input('한 문장을 입력하시요:')
sentence.split()
a=','
a.join(sentence)

한 문장을 입력하시요:Python is fun!

'P,y,t,h,o,n, ,i,s, ,f,u,n,!'

## Q5.

In [35]:
numbers=input('Enter two integers:')
n=numbers.split()
x=int(n[0])
y=int(n[1])
a=x+y
b=x-y
c=x*y
d=x/y
e=x%y

print('%d + %d = %d' %(x,y,a))
print('%d - %d = %d' %(x,y,b))
print('%d * %d = %d' %(x,y,c))
print('%d / %d = %0.1f' %(x,y,d))
print('%d %% %d = %d'  %(x,y,e))

Enter two integers:8 5
8 + 5 = 13
8 - 5 = 3
8 * 5 = 40
8 / 5 = 1.6
8 % 5 = 3

## Q6.

In [36]:
numbers = input('Enter two integers: ')
n=numbers.split()
x=int(n[0])
y=int(n[1])
print('THe sum of %d and %d is %d' %(x,y,x+y))
print('The average of number is %0.1f' %((x+y)/2))

Enter two integers: 70 91
THe sum of 70 and 91 is 161
The average of number is 80.5

## Q7.

In [37]:
day=input('날짜(연/월/일)입력:')
future=day.split('/')
year=int(future[0])+10
month=int(future[1])
f_day=int(future[2])
print('입력한 날짜의 10년 후는 %d년 %d월 %d일' %(year, month, f_day))

날짜(연/월/일)입력:2019/4/8
입력한 날짜의 10년 후는 2029년 4월 8일

# 과제실습 2
## Q1-1.

In [39]:
number = input("Enter a number: ")
n=int(number)
if n %2 ==0 :
    print('%d is Even number' %n)
else:
    print('%d is Odd number' %n)

Enter a number: 14
14 is Even number

# Q1-2.

In [43]:
m=int(input('Enter your midterm score:'))
f=int(input('Enter your final score:'))
averg=(m+f)/2
print('Average: %0.1f' %(averg))
if averg>= 90:
    print('A')
elif averg>=80:
    print('B')
elif averg>=70:
    print('C')
elif averg>=60:
    print('D')
else :
    print('F')

Enter your midterm score:77
Enter your final score:56
Average: 66.5
D

# Q1-3.

In [44]:
english=input('영어 점수 입력:')
math=input('수학 점수 입력:')
grade=int(english)+int(math)
if grade>=110:
    print('합격')
else :
    print('불합격: 종합점수 부족')

영어 점수 입력:80
수학 점수 입력:50
합격

# Q1-4.

In [46]:
number=input('세 개의 수를 입력하시오 :').split()
first=int(number[0])
second=int(number[1])
third=int(number[2])
if first>second :
    if first>third:
        print('가장 큰 수는 %d 입니다.' %first)
    else :
        print('가장 큰 수는 %d 입니다.' %third)

else:
    if second>third:
        print('가장 큰 수는 %d 입니다.' % second)
    else :
        print('가장 큰 수는 %d 입니다.' % third)

세 개의 수를 입력하시오 :80 50 30
가장 큰 수는 80 입니다.

# Q 2-1-1.

In [52]:
word = 'Python'
i=0
while i <6:
    print(word[i])
    i=i+1

P
y
t
h
o
n

# Q 2-1-2.

In [48]:
word = 'Python'
for x in word:
    print(x)

P
y
t
h
o
n

## Q 2-2.

In [77]:
a=list(range(10,0,-1))
a.append("Happy new year!!")
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 'Happy new year!!']

## Q 2-3.

In [91]:
nums = input("Enter two integers: ").split()
a=int(nums[0])
b=int(nums[1])
total=0
n=a
while a<=b:
    total=total+a
    a=a+1
print("The sum from %d to %d is %d" %(n,b,total))

Enter two integers: 5 10
The sum from 5 to 10 is 45

## Q 2-4.

In [173]:
word = 'banana'
n=0
for x in word:
    if 'a' in x:
        n=n+1  
print(n)

3

## Q 2-5.

In [118]:
for x in range(10):
    print(x, end=' ')

0 1 2 3 4 5 6 7 8 9

In [116]:
for x in range(0,55,5):
    print(x, end=' ')

0 5 10 15 20 25 30 35 40 45 50

In [113]:
for x in range(10,0,-1):
    print(x, end=' ')

10 9 8 7 6 5 4 3 2 1

## Q 2-6.

In [120]:
colors = ["red", "green", "blue"]
for x in colors:
    print(x)

red
green
blue

## Q 2-7.

In [141]:
a = [1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
for x in a:
    if x%2==0:
        print(x)

4
6
8
10
12

## Q 2-8.

In [142]:
a=int(input('출력하고 싶은 단을 입려하세요.:'))
for i in range(1,10):
    b=a*i
    print('%d * %d = %d' %(a,i,b))

출력하고 싶은 단을 입려하세요.:7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

## Q 2-9.

In [153]:
for i in range(2,10):
    print('==%d단==' %i)
    for x in range(1,10):
        b=x*i
        print('%d * %d = %d' %(i,x,b))

==2단==
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
==3단==
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
==4단==
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
==5단==
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
==6단==
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
==7단==
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
==8단==
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
==9단==
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

## Q 2-10.

In [220]:
for i in range(1,10):
    print('\n')
    for x in range(2,10):
        b=x*i
        print('%d * %d = %d' %(x,i,b), end =' ')

2 * 1 = 2 3 * 1 = 3 4 * 1 = 4 5 * 1 = 5 6 * 1 = 6 7 * 1 = 7 8 * 1 = 8 9 * 1 = 9

2 * 2 = 4 3 * 2 = 6 4 * 2 = 8 5 * 2 = 10 6 * 2 = 12 7 * 2 = 14 8 * 2 = 16 9 * 2 = 18

2 * 3 = 6 3 * 3 = 9 4 * 3 = 12 5 * 3 = 15 6 * 3 = 18 7 * 3 = 21 8 * 3 = 24 9 * 3 = 27

2 * 4 = 8 3 * 4 = 12 4 * 4 = 16 5 * 4 = 20 6 * 4 = 24 7 * 4 = 28 8 * 4 = 32 9 * 4 = 36

2 * 5 = 10 3 * 5 = 15 4 * 5 = 20 5 * 5 = 25 6 * 5 = 30 7 * 5 = 35 8 * 5 = 40 9 * 5 = 45

2 * 6 = 12 3 * 6 = 18 4 * 6 = 24 5 * 6 = 30 6 * 6 = 36 7 * 6 = 42 8 * 6 = 48 9 * 6 = 54

2 * 7 = 14 3 * 7 = 21 4 * 7 = 28 5 * 7 = 35 6 * 7 = 42 7 * 7 = 49 8 * 7 = 56 9 * 7 = 63

2 * 8 = 16 3 * 8 = 24 4 * 8 = 32 5 * 8 = 40 6 * 8 = 48 7 * 8 = 56 8 * 8 = 64 9 * 8 = 72

2 * 9 = 18 3 * 9 = 27 4 * 9 = 36 5 * 9 = 45 6 * 9 = 54 7 * 9 = 63 8 * 9 = 72 9 * 9 = 81

## Q 2-11.

In [219]:
sentence = "sally goes to the store."
sentence.split()
s_list=list(sentence.split())
i=0
for x in range(0,5):
    i=i+1
    print('word %d %s' %(i,s_list[x]))

word 1 sally
word 2 goes
word 3 to
word 4 the
word 5 store.

## Q 2-12.

In [207]:
sentence = "sally goes to the store."
s_list=list(sentence.split())
s_list[1]
for x in range(0,4):
    print(s_list[x])

sally
goes
to
the